<!-- brand bar -->
<div class="cover-div" style="border-radius: 0 0 50px 50px">
  <div
    style="
      padding-top: 120px;
      padding-bottom: 00px;
      margin: 0%;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.32),
        rgba(247, 156, 82, 0.87) 100%
      );
    "
  >
    <h2
      class="card-title text-center fw-bold py-2 rounded rounded-pill"
      style="
        margin: 0 20%;
        color: rgb(0, 0, 0);
        background: linear-gradient(
          90deg,
          rgb(255, 255, 255, 0.6) 10%,
          rgb(255, 255, 255) 60%,
          rgba(255, 255, 255, 0.6) 95%
        );
      "
    >
      {{data_template.page_title}}
    </h2>
  </div>
</div>
