.chant-title-container {
  padding-top: 100px;
  padding-bottom: 10px;
  margin-bottom: 00px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.32),
    rgba(247, 156, 82, 0.87) 100%
  );
}

.chant-card-title {
  margin: 0 0 0 3%;
  padding: 0 5% 0 5%;
  color: rgb(0, 0, 0);
  border-radius: 0 0 0 70px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 20%,
    rgb(255, 206, 166) 60%,
    rgb(255, 255, 255) 95%
  );
  font-size: 16px;
}

.favorite-card-title {
  margin: 0 0 0 3%;
  padding: 0 5% 0 5%;
  color: rgb(0, 0, 0);
  border-radius: 70px 0 0 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.01) 20%,
    rgba(255, 206, 166, 0) 60%,
    rgba(255, 255, 255, 0) 95%
  );
  font-size: 16px;
}

.chant-body-card {
  margin-top: 00px;
  margin-bottom: 150px;
}

.chant-body-card-content {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.05) 10%,
    rgba(255, 226, 202, 0.29) 50%,
    rgba(255, 255, 255, 0.05) 90%
  );
  font-size: 14px;
}

.chant-body-card .card-footer:last-child {
  background: linear-gradient(
    180deg,
    rgba(247, 156, 82, 0.38),
    rgba(255, 255, 255, 0.32) 90%
  );
  border-radius: 0 0 30px 30px;
}

.custom-favorite-message-add .ant-message-notice-content {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 156, 82, 1) 100%
  ) !important;
  color: #000000ff !important;
  font-weight: bold !important;
  font-size: large !important;
  border-radius: 20px !important;
  padding: 12px 16px !important;
}
.custom-favorite-message-add .anticon {
  color: rgba(0, 0, 0, 1) !important;
  font-size: 25px !important;
}
.custom-favorite-message-remove .ant-message-notice-content {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ) !important;
  color: rgba(247, 156, 82, 1) !important;
  font-weight: bold !important;
  font-size: large !important;
  border-radius: 20px !important;
  padding: 12px 16px !important;
}

.custom-favorite-message-remove .anticon {
  color: rgba(247, 156, 82, 1) !important;
  font-size: 25px !important;
}
