#copyright {
  border: 0px solid rgba(255, 115, 1, 0.36);
  animation: pulsecopy 3.5s ease-in infinite;
  margin-bottom: 120px;
  margin-left: 70px;
  margin-right: 70px;
}

.buttonPulse {
  border: 0px solid rgba(255, 115, 1, 0.36);
  animation: pulsecopy 3.5s ease-in infinite;
  margin-bottom: 140px;
  margin-left: 70px;
  margin-right: 70px;
}
