.cover-div {
  background-image: url("../assets/184.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0%;
  margin: 0%;
  border-radius: 0 0 50px 50px;
}

.cover-div-research {
  padding-top: 45px;
  padding-bottom: 70px;
}

.cover-div-inner {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.32),
    rgba(247, 156, 82, 0.87) 100%
  );
}

#don {
  border: 1px solid rgba(255, 115, 1, 0.11);
  animation: pulsecopy 1.5s ease-in infinite;
  margin-top: 30px;
  background-color: rgba(250, 235, 215, 0.84);
}

.coverMainTitle h2,
.coverMainTitle h4 {
  color: rgb(39, 18, 0);
}
