.hovermenu:hover {
  color: #000000 !important;
  border-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-menu-active {
  color: #000000 !important;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-menu-active {
  color: #000000 !important;
  background: linear-gradient(
    180deg,
    rgb(255, 167, 94),
    rgba(255, 255, 255) 90%
  );
  box-shadow: 4px 0px 10px rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
  border-top: 2px solid rgb(253, 145, 57);
}

.btn-menu-no-active {
  color: rgb(0, 0, 0) !important;
  background: linear-gradient(
    180deg,
    rgb(253, 219, 190),
    rgba(255, 255, 255) 90%
  );
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
}

.phone-footer-bar {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background: linear-gradient(180deg, rgb(255, 255, 255) 3%, rgb(0, 0, 0) 20%);
}
