.hovermenu:hover {
  color: #000000 !important;
  border-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-menu-active {
  color: #000000 !important;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-menu-no-active {
  color: #000000 !important;
  background: linear-gradient(
    0deg,
    rgb(248, 174, 114),
    rgba(255, 255, 255) 90%
  );
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
    border: none;
}