@keyframes pulsecopy {
  0% {
    box-shadow: 0px 5px 0 1px rgba(247, 156, 82, 0.22);
  }
  10% {
    box-shadow: 0px 5px 0 5px rgba(247, 156, 82, 0.2);
  }
  20% {
    box-shadow: 0px 5px 0 10px rgba(247, 156, 82, 0.18);
  }
  30% {
    box-shadow: 0px 5px 0 15px rgba(247, 156, 82, 0.16);
  }
  40% {
    box-shadow: 0px 5px 0 20px rgba(247, 156, 82, 0.14);
  }
  50% {
    box-shadow: 0px 5px 0 25px rgba(247, 156, 82, 0.12);
  }
  60% {
    box-shadow: 0px 5px 0 30px rgba(247, 156, 82, 0.1);
  }
  70% {
    box-shadow: 0px 5px 0 35px rgba(247, 156, 82, 0.09);
  }
  80% {
    box-shadow: 0px 5px 0 40px rgba(247, 156, 82, 0.08);
  }
  90% {
    box-shadow: 0px 5px 0 45px rgba(247, 156, 82, 0.07);
  }
  100% {
    box-shadow: 0px 5px 0 50px rgba(247, 156, 82, 0.01);
  }
}

.mainNav {
  z-index: 2000;
  background: linear-gradient(
    90deg,
    rgb(247, 156, 82) 20%,
    rgba(29, 236, 198, 0.048) 40%,
    rgb(247, 156, 82) 98%
  );
}

.accordion-header .accordion-button {
  font-weight: bold;
  padding: 10px 20px;
  background: linear-gradient(
    180deg,
    rgb(255, 231, 212),
    rgba(255, 255, 255) 90%
  );
}
.accBadge {
  background: linear-gradient(
    90deg,
    rgb(255, 199, 153) 20%,
    rgba(255, 199, 153) 40%,
    rgb(255, 199, 153) 98%
  );
}

.accordion-body {
  background: linear-gradient(
    0deg,
    rgba(253, 248, 244, 0.52) 20%,
    rgba(255, 255, 255, 0.52) 90%
  );
}

.offcanvas {
  border-radius: 0 30px 30px 0;
  background: linear-gradient(
    180deg,
    rgb(255, 231, 212),
    rgba(255, 255, 255) 90%
  );
}

.offcanvas-header {
  border-radius: 0 30px 0 30px;
  background: linear-gradient(0deg, rgb(247, 156, 82), rgb(255, 255, 255) 90%);
  margin-bottom: 5%;
}

.navBarTitle {
  font-size: 25px;
  font-weight: bold;
  color: rgb(34, 16, 1);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 10%;
}

.navBarPaneTitle {
  font-size: 30px;
  font-weight: bold;
  color: rgb(34, 16, 1);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 10%;
}

.navBarAccTitle > .accordion-button {
  font-size: 14px;
  padding: 2%;
  color: rgb(68, 31, 1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 20%;
  letter-spacing: 5%;
}

.list-group-item {
  font-size: 12px;
  padding: 1%;
  color: rgb(68, 31, 1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 0%;
  letter-spacing: 0%;
}

#copyright {
  border: 0px solid rgba(255, 115, 1, 0.36);
  animation: pulsecopy 3.5s ease-in infinite;
  margin-bottom: 70px;
  margin-left: 70px;
  margin-right: 70px;
}

.navLeft {
  background: linear-gradient(0deg, rgb(247, 156, 82), rgb(255, 255, 255) 90%);
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  color: black;
  border-radius: 0 0 0 60px;
  margin-bottom: 35px;
}

.navRight {
  background: linear-gradient(0deg, rgb(247, 156, 82), rgb(255, 255, 255) 90%);
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  color: black;
  border-radius: 0 0 60px 0;
  margin-bottom: 35px;
}

#nav-footer,
#nav-footer > .navLeft,
#nav-footer > .navRight {
  opacity: 10%;
  pointer-events: none;
}

#nav-footer:hover,
#nav-footer > .navLeft:hover,
#nav-footer > .navRight:hover {
  opacity: 10%;
  pointer-events: none;
}

#nav-footer.at-bottom,
#nav-footer.at-bottom > .navLeft,
#nav-footer.at-bottom > .navRight {
  opacity: 100%;
  pointer-events: all;
}

.searchIcon {
  background: linear-gradient(
    180deg,
    rgba(255, 199, 153),
    rgba(255, 255, 255) 90%
  );
}

.reseachResultItem {
  background: linear-gradient(
    180deg,
    rgba(255, 199, 153, 0.42),
    rgba(255, 255, 255) 90%
  );
}

.ResultList {
  justify-content: center;
}
